node_modules
vendor
.git
.gitignore
.env
.env._
!.env.example
storage/logs/_
storage/framework/cache/_
storage/framework/sessions/_
storage/framework/views/_
bootstrap/cache/_
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!bootstrap/cache/.gitignore
tests
.editorconfig
.phpunit.result.cache
phpunit.xml
phpstan.neon
pint.json
_.md
!README.md
database/database.sqlite
database/_.sqlite

# Incluir arquivos necessários

!public/build
!database/seeders
!database/migrations
!database/factories
