node_modules
vendor
.git
.gitignore
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!storage/logs/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!bootstrap/cache/.gitignore
tests
.editorconfig
.phpunit.result.cache
phpunit.xml
phpstan.neon
pint.json
*.md
!README.md
database/database.sqlite
database/*.sqlite

# Incluir arquivos necessários
!public/build
!database/seeders
!database/migrations
!database/factories
